@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rubik+Dirt&display=swap');

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

h1{
    text-align: center;
}
h2{
    font-size: 20px !important;
    text-align: center;
}
p {
    text-align: center;
}

.navbar{
    background-color: #73e58c;
}

.navbar-brand{
    color: white;
    font-family: 'Rubik Dirt', cursive;
}

hr {
    background-color: #77dd77 ;
}

.center{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.extra-space{
    margin-top: 20vh;
}

.space{
    margin-top: 6vh;
}

.body-img{
    max-width: 75vw;
}

.main-head{
    background-color: gray;
    background-position: center;
    background-size: cover;
    background-image: url('images/BannerBackground.png');
    padding-top: 8vw;
    padding-left: 5vw;
    color: white;
    height: 102vh;
    min-width: 100%;
    margin: 0;
}

.main-header{
    font-family: 'Rubik Dirt', cursive;
    font-size: 15vw;
}

.page-head{
    background-color: gray;
    background-position: center;
    background-size: cover;
    background-image: url('images/BannerBackground.png');
    padding-top: 8vw;
    color: white;
    height: 50vh;
    min-width: 100%;
    margin: 0;
}

.page-header{
    font-family: 'Rubik Dirt', cursive;
    font-size: 10vw;
    color: white;
}

.slogan{
    font-family: 'Homemade Apple', cursive;
    font-size: 4vw;
}

.button-contain{
    width: 100%;
    padding: 0;
}

.button {
    width: 30vw;
    padding: 0.5vw;
    height: 50vh;
    color: white;
    border-radius: 2vw;
    color: white;
    font-family: 'Rubik Dirt', cursive;
    font-size: 3.5vw;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.fonts{
    background-color: #F03613;
}

.layouts{
    background-color: #A2EEEB;
}

.colors{
    background-color: #EDC02C;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-indicators{
    filter: invert(100%)
}
.logo {
    display: inline-block;
    vertical-align: ;
    width: 200px;
    height: 70px;
    margin-right: 20px;    /* if you want it vertically middle of the navbar. */
}
