@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rubik+Dirt&display=swap');

h1{
    text-align: center;
}
h2{
    font-size: 20px !important;
}
p {
    text-align: center;
}

.navbar{
    background-color: #73e58c;
}

hr {
    background-color: #77dd77 ;
}

.main-head{
   /* background-image: url('images/BannerBackground.png');
    height: 100vh;
    width: 100%;
    padding: 0;
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;*/
    background-color: gray;
    background-position: center;
    background-size: cover;
    background-image: url('images/BannerBackground.png');
    padding-top: 8vw;
    color: white;
    height: 100vh;
    min-width: 100%;
    margin: 0;
}

.main-header{
    font-family: 'Rubik Dirt', cursive;
    font-size: 15vw;
}

.slogan{
    font-family: 'Homemade Apple', cursive;
    font-size: 4vw;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.carousel-indicators{
    filter: invert(100%)
}
